@charset "utf-8";
/* CSS Document */

html {
	background-color: #000;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	text-align: center
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

video {
	width: 100%;
	max-width: 1280px;
	height: auto;
}